body{
    background-color:black;
    color: pink;
    text-align: center;
    font-size:xx-large;
    height: 95vh;
}

footer{
    background-color: pink;
    color: black;
    text-align: left;
    margin: 5px;
    padding: 5px;
}

/*#ID: solo se usan en una cosa*/
#logovolver{
    width: 200px;
    align-items:flex-start;
}
/*.Class: se utiliza en muchas cosas*/
.button-container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.button-container a img{
    max-width: 350px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
    margin: 30px;
}

.button-container a img:hover{
    transform: scale(1.1);
}

li a img{
    max-width: 350px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s;
    margin: 30px;

}

li a img:hover{
    transform: scale(1.1);
}


